# ANTHROPIC
ANTHROPIC_YOUR_API_KEY=

# BRAVE
BRAVE_SEARCH_YOUR_API_KEY=

# CANVA
CANVA_KEY=

# GEMINI
GEMINI_YOUR_API_KEY=

# GOG
GOG_KEYRING_PASSWORD=

# GOOGLE
GOOGLE_YOUR_API_KEY=
GOOGLE_CALENDAR_CREDENTIALS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# MOONSHOT
MOONSHOT_YOUR_API_KEY=

# NOTION
NOTION_YOUR_API_KEY=

# OPENAI
OPENAI_YOUR_API_KEY=
OPENAI_MODEL=

# OPENCLAW
OPENCLAW_GATEWAY_TOKEN=

# TELEGRAM
TELEGRAM_ALLOWED_CHAT_ID=
TELEGRAM_BOT_TOKEN_DEFAULT=
